.idea
.npmrc
dist
**/dist
node_modules
**/node_modules
coverage
**/coverage
data
**/scripts/document.sh
**/scripts/release.sh
**/scripts/benchmark.sh
.husky/_
lerna-debug.log
*.sqlite
**/*.tsbuildinfo
**/test-results/
**/playwright-report/
packages/redis-smq-web-ui/run/
packages/redis-smq-web-ui/src/api/generated/
packages/redis-smq-web-ui/src/api/model/
**/.env
