dist/tests
dist/examples
examples
src/**
tests/**
.eslintrc.js
.gitignore
.npmignore
.prettierrc
index.ts
tsconfig.json
jest.config.js
.idea
types/**
coverage/**
.github/**
*.map
docs/**/*
misc/**/*
tsconfig.tsbuildinfo
logo.png
.husky