dist/tests
dist/examples
examples
src/**
tests/**
.eslintrc.cjs
.gitignore
.npmignore
.prettierrc
index.ts
tsconfig.json
jest.config.cjs
.idea
types/**
coverage/**
.github/**
*.map
docs/**
misc/**
tsconfig.tsbuildinfo
logo.png
.husky
build
docker-compose.yml
scripts/**
docs/**
.codecov.yml